@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

:root {
  --primary-clr: #e61f1f;
  --secondary-clr: #1dcf0c;
}

.container {
  max-width: 80%;
  margin: auto;
}

body {
  min-height: 100vh;
  font-family: 'inter';
}
button {
  padding: 8px 14px;

  background: var(--secondary-clr);
  border-radius: 20px;
  transition: 0.3s;
  font-size: 16px;
}
button:hover {
  background: var(--primary-clr);
  color: #fff;
}
